.film {
    margin: 3px;

  }

.poster{
    padding-left: 8px;
    width: 154px; 
    height: 231px; 
}

.missingPoster{
    width: 154px; 
    height: 231px; 
    background-color:#CCC;
    margin-left:"10px"
}

.title{
    width: 170px;
    padding-left: 8px;

    color: #BBB;
    font-size :10px;
    font-weight: bold;
}

.footer{
    width: 162px;
    color: #666;
    padding-left: 8px;
    font-size :10px;
}

